<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <mat-card class="form-card">
    <mat-card-title class="heading">Registration form</mat-card-title>
    <mat-form-field appearance="outline" class="margin">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="" [formControlName]="firstName" required />
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-error> </mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="outline" class="margin">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="" [formControlName]="lastName" required />
      <mat-icon matSuffix>perm_identity</mat-icon
      ><mat-error>
        Enter a valid last name
      </mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="outline" class="margin">
      <mat-label>User Name</mat-label>
      <input
        matInput
        placeholder=""
        formControlName="userName"
        required
        minlength="4"
      />
      <mat-icon matSuffix>face</mat-icon
      ><mat-error>
        Enter a valid user name
      </mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="outline" class="margin">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder=""
        type="password"
        formControlName="password"
        required
      />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error>
        Enter a valid password
      </mat-error></mat-form-field
    ><br />
    <mat-form-field appearance="outline" class="margin">
      <mat-label>Confirm</mat-label>
      <input
        matInput
        placeholder=""
        type="password"
        formControlName="confirm"
        required
      />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error>
        This password should match the passowrd that was previously entered
      </mat-error></mat-form-field
    ><br />
    <mat-form-field appearance="outline" class="margin">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder=""
        type="email"
        formControlName="email"
        required
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error>
        Enter a valid email
      </mat-error></mat-form-field
    ><br />
    <mat-form-field appearance="outline" class="margin">
      <mat-label>Mobile</mat-label>
      <input matInput placeholder="" formControlName="mobile" />
      <mat-icon matSuffix>phone</mat-icon>
      <mat-error>
        Enter a valid mobile number
      </mat-error></mat-form-field
    ><br />
    <button mat-raised-button color="primary" [disabled]="!profileForm.valid">
      Create
    </button>
  </mat-card>
</form>
