<mat-card class="form-card"
  ><mat-horizontal-stepper linear>
    <mat-step [stepControl]="matriculation">
      <form [formGroup]="matriculation">
        <ng-template matStepLabel>Matriculation</ng-template>
        <mat-form-field appearance="outline" class="margin">
          <mat-label>Percentage</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="percentage"
            required
          />
          <mat-icon matSuffix>face</mat-icon
          ><mat-error>
            Enter a valid percentage
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="puc">
      <form [formGroup]="puc">
        <ng-template matStepLabel>Pre-University Course</ng-template>
        <mat-form-field appearance="outline" class="margin">
          <mat-label>Percentage</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="percentage"
            required
            minlength="4"
          />
          <mat-icon matSuffix>face</mat-icon
          ><mat-error>
            Enter a valid percentage
          </mat-error> </mat-form-field
        ><br />
        <mat-form-field appearance="outline" class="margin">
          <mat-label>Stream</mat-label>
          <mat-select placeholder="Stream" formControlName="stream" required>
            <mat-option value="MPC">MPC</mat-option>
            <mat-option value="BPC">BPC</mat-option>
          </mat-select>
          <mat-icon matSuffix>face</mat-icon
          ><mat-error>
            Select a valid stream
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="university">
      <form [formGroup]="university">
        <ng-template matStepLabel>University</ng-template>
        <mat-form-field appearance="outline" class="margin">
          <mat-label>Percentage</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="percentage"
            required
            minlength="4"
          />
          <mat-icon matSuffix>face</mat-icon
          ><mat-error>
            Enter a valid percentage
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="margin">
          <mat-label>Stream</mat-label>
          <mat-select placeholder="Stream" formControlName="stream" required>
            <mat-option value="MPC">CSE</mat-option>
            <mat-option value="BPC">Others</mat-option>
          </mat-select>
          <mat-icon matSuffix>face</mat-icon
          ><mat-error>
            Select a valid stream
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
